                                 :-----::::::                                
                        ::      :-=---:::::::::      ::                      
                       -*+:    :=++=-:::::::-=-     -==                      
                      :=**=:   =*+++*+::::-++++=   -+==:                     
                       -=+*+=--++++++*+---++====--===-:                      
                          :+*+***+++**+==+++===---:                         
                            :++**+*+-*#+-=++#=-==::                          
                            :+++++++=+=-:-=**=---::                          
                            -+=---====--:::----::::                          
                           :=+--:-+*++=-------: ::                           
                           :=++==+####*+===+==-:::                           
                           :=++**++++++++=----==-:                           
                           :=+=+**+==-----:::::-=-:                          
                           :=++++++++=---::::---:::                          
                           -++++++++=======--::::::                          
                          -++++++++++====------:::::                         
                         :=+++++++++++====------::: ::                       
                         =++++++++++++====-----::::   :::                    
                       -*#*+++++++++==-----::::::::   ::::::::               
                     :+####******+++==----:::::-::::  :::::::::::            
                    -*####*********+++==---------::::::::   :::----          
                ::-=**###*************+++++===---:::::::    ::::----:        
             :-=====+*##*++===+*******++=====--::::::::    ::::------:       
          :=====----=+*+====----==-===---------::::::     :::::-------:      
         -+====-----====--------:: ::--------::::::    :::::::---------      
        =++=====---==-----------::: :------:: :::     ::::------------=:     
       -+++==========-----::::::::  :-=---::::::     :::-----------=====     
      -+++++=========----::::::::: ::-=---:::::      ::--====----=======:    
     :++++++=========-----:::::::::::-==--:::::    :::--==+=============-    
     =++++++===+++====----::::::::::-=+==--:::::::::----==+*++========++=    
    :+***++++++++++===-----::::::::::-+==----::::-----===+*##*+++++=++++=:   
 :  =+*****+++***++====------::::::--=+===--------======++*%#*++++++++==-=:  
 :::=*********###*+++====-----::::--=+**+============++++***=--====++==----  
 :::+******######***+++=====-------==+##*+++======+++++***#=-:::--====----=: 
 :::=*****##########**+++======-===+++###*++++++++++***####=--:---==------=- 
 ::-+***++**###%%#*###**+++++====+++==*##****++*****#####%*=-------------==- 
 ::=+++++===+*#%%%######*****+++++++==*#####****########%%*====---------==== 
 :-++=+++=---=*%%%%%######***####*+=--=*################%%*+=====------===== 
 :++==+++=---=*%%%%%############*=-:::--=+*#%%%%##%%%%%%%%#+======----===++- 
 -+++=+++=====*%%%%%%%%%%%%#%%#++==-----:-=++*#%%%%%%%%##%#++====-=---==+=+- 
 =+++++++====+*%%%%%#%%%%%%%%#***+=====--====++*##%%###**%#*+======---==+++: 
 =++++++=====+*%%%%%%%%%##****+==-:---=-:----=++*********#%*++++===--===+++: 
 +*+++++====++*%#%%%%####**++====-:---==-::--==+++++++***###*+++=========++: 
 ++++++=====++##:#%%%###*+**++====:-=-==----===+===+++*****##*+++++===-==++: 
 ++++++=====+*#+:=##%%###*+*++++++----+==-=======-==++***++-##*****+=---==+::
 ++++++++=+++*#:::+##**####***###*+==-+***+***++===+++***+: =#####*+=---===::
 +++++++++++**=::::*#*++++##***+==++=====-==++*++++++++*+:   +####+=----===::
 +==+***+++***-::::-#*+==-=*+===-----==-::--==++++++++++-    :+###+=----==+-:
 ==--+*#***#*=--:::=*++==-=+++===--=-===:--====+=-====++:     :##+==--:-==+-:
 =---=*####*=-----:=**+==-=**+++====-===---===+==--====-      :*+===----=+*::
 =----=###*=------:+*++==-=***+++=====+=-===+++=---====: :::: :+====---==+*-:
 =----=*##*=-------**+++===+##**+++==+++===++++=--===++:::::::-+=======++**=:
 =-----=+++==-----=*++++==++++++++===++++++++++=--==+++:::::::=========++**+:
 ==------=====----=+++++==++++===-=*+==-==+++++=--==++= ::::::==========++*+ 
 +=------++====---=++++++=++++++==--==---=+++++=-==+++-:::::::==========++*+:
 +=------=+====---+++++++++++++++==--=====++++=--==+++:::::::-+=====--==++*+:

         _     _                                    
        | |   | |                                   
        | |___| | ___  _   _    _____  ____ _____   
        |_____  |/ _ \| | | |  (____ |/ ___) ___ |  
         _____| | |_| | |_| |  / ___ | |   | ____|  
        (_______|\___/|____/   \_____|_|   |_____)  

                                    
                              
              ____   ___  _ _ _    _____   
             |  _ \ / _ \| | | |  (____ |  
             | | | | |_| | | | |  / ___ |  
             |_| |_|\___/ \___/   \_____| 

                      _               _ 
                     | |             | |
                 ____| |__  _____  __| |
                / ___)  _ \(____ |/ _  |
               ( (___| | | / ___ ( (_| |
                \____)_| |_\_____|\____|



                                                                                         