                                                                                               
                                                 =**-    .-++=.          
                                               .**==*.  =#+==+*          
                                               ++===*: =*=====*          
                                               *====*.:*==+*=++          
                                               +====* +==+#==*.          
                                               -*===* *==#+=+=           
                                            ..::*+++*-*=+*=++            
                                    .:-=+**#**+++==++++=*+=*.            
                             .:=+*###**++=================*=             
                      .:-+*###**++=+*##*+===*%%%%%%#*=====+#=            
              .:-=+*###**++=======+**#**#*==++*+++++*+======#:           
     .-=+*#%%@@@@@@#================**%@%*==+#*#%%#+========+*           
    =@@@@@@@@@@@@@@@+===============+:*@@#===+:+@@*#=========#.          
    %@@@@@@@@@@@@@@@#==================++=======**===========*-          
   -@@@@@@@@@@@@@@@@%========================================++          
   *@@@@@@@@@@@@@@@@@=========================================*          
   @@@@@@@@@@@@@@@@@+========================================+           
   @@@@@@@@@@@@@@@@@+========================================*           
   *@@@@@@@@@@@@@@@@@+========================================*          
   +@@@@@@@@@@@@@@@@@+========================================+          
   :@@@@@@@@@@@@@@@@@+========================================+          
    *@@@@@@@@@@@@@@@@+===============================+++======+          
    .#@@@@@@@@@@@@@@%================================++++====+=          
     .*@@@@@@@@@@@@@+============================++====+=====+-          
       -#@@@@@@@@@%*============================+###+========*:          
         .=#@@%%#*==========================+*###*++=========*.          
            :+%#*+====================+***###*++++===========+           
               :=+####**++++==========+++++++++===============           
                    ..:::::**===========+++**#*============+*#           
                           .#+===========++++===========+**##%-.         
                           .*#*++=================+++*****#+===+=        
                           *++*****++**************+++***+------++       
                          :*=---=+****+++=+=+===*+#**+=----------=+      
                          *=+-------==+++++++++===---------==-----=+     
                         ==-*-==-------------------------=+*-------+=    
                        .*--*====------------------------=+=--------*.   
                        -+-=+==--------------------------=*=--------=+   
                        ===++----------------------------=*==--==----*   
                        =-=**-----------------------------=%==+=-----*   
                        -=-=%-----------------------------#*-=*=-----*   
                        .*--#+---------------------------**---------=*   
                         -+==%*=======-=-------------====%---------=*-   
                          -=+**##****+++++==========+++*#%=------==++    
                           :#*-=+*##**#*%#%#%######*###*+#*+---===++     
                            =#----=+**#*#*#**#*##***+=---+##*+==+*=      
                             -*----++*++##*#+++=======----=+***++=+      
                            -----=+*++*%+*=-----------=-===-=+=+         
                              +=------==++#%#****++-------===--=+=+      
                              :*-----------=*=-----------------=+-+      
                               *-----------==+-----------------=+=+      
                               ==-----------+*-----------------++=+      
                               .*--===------+++----------------++=+      
                                *---=++=-----+*----==----------+++=      
                                -+----=------++=---====--------+++-      
                                .*------------++-----=-=-------++*:      
                                ++++==--------+++=-------------++*.      
                                .+---=+++++++==+*+*****++++++++*#*#.     
                                 =-:::::::::::::#:::--===+====--:=+.     
                                 .=--:::::::::::+-:::::::::::::::=+.     
                               .:-+**##*+*++-----*::::::::::::---++:     
                            .++=---+###=#**#####**++***##+*+***###=      
                           .*:::....:-#*=###**++++#%%#######*##*++=      
                           :=:::::::..:*=#+++++*##*******##**+**+++      
                           :+::::::::..:*#++++**=-:-:::-+**#+*+++++      
                           .#-::::::::::=*++*+#:::::::::::+***+*##=      
                            .*#*+++======++*###:::::-::::::+*+*#**.      
                              -+********+===-.-=--:::::::--==+=*+        
                                               =+=-------::::==:         
                                                :=*###****#*+-           
                                                     .....               


                        𝖨 ડ౿౿ ɣ𝗈υ'𝗋౿ ડ𝗈ო౿ ɕ𝗁ꪱᥣᥣ 𝗀υɣ




        