                                                                                
                         .-.                                                    
                          ) )                                                *  
                         '-´                                                    
                         '                                                      
                                                 '                              
                  +         +'                           o                      
                                '                                               
      o                                                          +              
                                                                                
                                                                           .    
                                                                        +       
                                                               .                
                              .                              \                  
                                       '                      \                 
                                                               **               
                .                                '                              
                                                                                
                  '          '                                       +          
                                       .                ':.                     
                                                          '::._                 
                                                            '._)                
       o                                                                        
                                                         .:'                    
        o                                            _.::' .                    
          +                                         (_.'                        
                                                                                
          _|_                                    *           .                  
           |                   +                        '  +                    
                                          .                  o                  
     '                                                                          
                o                                                               
                               '                         +                      
                                                          |    .                
  '       .                                          +  --o--                   
  '            +                         +                |             *       
                    .                                                           
                                           .                                    
                                                            *                   
                                         .   +                                  
                                                                                
                                                                                
       +             '                                                          
                                                                                
                                                                                
         .o     .           *     '      .                                      
    |                                      +                                   .
   -+-                                +                  .                      
    |                                                                 '         
                                                '                               
                                         .                                      
                  '                                                             
                                    '          .                                
                                       +                                        
                        o                                                       
                                                +                               
                                                                                
  .                         *          '      +   *                             
                                                  *               '             
                       o                  .                                     